
@import '@style/iconos'
@import '@style/colores'
@import '@style/paleta'
@import '@style/utils'
// ANT Reset
*
	margin: 0
	padding: 0
body
	font-family: "Roboto Slab"
	min-height: 100vh

pre
	white-space: pre-wrap
code
	white-space: pre-wrap

a
	color: inherit
	text-decoration: none
	&:visited, &:active, &:hover,
	&:-webkit-any-link
		color: inherit

.noMovil
	+movil
		display: none

.noCompu
	+compu
		display: none

.light
	+fwl
.normal
	+fwn
.bold
	+fwb
.black
	+fwbb

.db
	display: block
.dn
	display: none
.dib
	display: inline-block

=flexCombinaciones
	&.ffrn
		flex-flow: row nowrap
	&.ffcn
		flex-flow: column nowrap
	&.aic
		align-items: center
	&.jcc
		justify-content: center
	&.jcsb
		justify-content: space-between
	&.jcsa
		justify-content: space-around
	&.jcfs
		justify-content: flex-start
	&.jcfe
		justify-content: flex-end
.df,
.flex
	display: flex
	+flexCombinaciones
.dif,
.iflex
	display: inline-flex
	+flexCombinaciones

.f11
	flex: auto 1 1
.f00
	flex: auto 0 0
.f01
	flex: auto 0 1
.f10
	flex: auto 1 0

.tac
	text-align: center
.tal
	text-align: left
.tar
	text-align: right

.mt1em
	margin-top: 1em
.mb1em
	margin-bottom: 1em
.my1em
	margin-top: 1em
	margin-bottom: 1em
.ml1em
	margin-left: 1em
.mr1em
	margin-right: 1em
.mx1em
	margin-left: 1em
	margin-right: 1em

.mt05em
	margin-top: .5em
.mb05em
	margin-bottom: .5em
.ml05em
	margin-left: .5em
.mr05em
	margin-right: .5em

.usn
	user-select: none

.wf
	width: 100%

h1, h2, h3, h4, h5, h6
	// color: $azul2
	// margin-top: 20px
	margin: 0

// ant-style dropdown hack
.ant-select-dropdown-menu-item
	text-overflow: unset!important
	white-space: break-spaces!important

.boton
	&.w100
		display: block !important

.pointerNone
	pointer-events: none

.ant-btn
	&.w100
		width: 100%
	&.multilinea
		white-space: normal
		height: auto
	//&.casiBpStyle
	+bold
	//font-size: 1.2em
	&:disabled
		display: block !important
	&:not(disabled)
		&.ant-btn-primary,
		&.azul
			color: white
			background-color: $azul1
			border-color: darken($azul1, 3%)
		&.verde
			color: $petroleo1
			background-color: $verde3

.acciones
	.boton
		display: block
		margin-top: 1rem
.ant-form
	+compu
		.ant-form-item
			margin-bottom: 0.65rem
			.ant-form-item-label
				padding-bottom: 0
	.acciones
		margin-top: 2rem
		.ant-btn
			margin-top: 1rem

.ant-page-header
	padding: 0
	margin: 1em 0 3em 0
	.ant-page-header-heading
		display: flex
		flex-flow: column nowrap
		.ant-page-header-heading-title,
		.ant-page-header-heading-sub-title
			display: block
			float: none
		.ant-page-header-heading-sub-title
			order: -1
		//.ant-page-header-heading-title
			display: block
		//.ant-page-header-heading-sub-title
			display: block

.anchoMovil
	width: 400px
	max-width: 100%
	margin: 0 auto

.WIP
	display: flex
	flex-flow: column nowrap
	align-items: center
	justify-content: center
	text-align: center
	margin: 2em 0
	.icono
		font-size: 2em
	.texto
		margin-top: 2em

.estadisticas
	background-color: white
	+radio
	padding: .5em
	text-align: center
	.ant-statistic
		flex: auto 0 0
