
@import '@style/iconos'
@import '@style/colores'
@import '@style/paleta'
@import '@style/utils'
// ANT Reset
.ant-btn-primary
	border-width: 0
*
	margin: 0
	padding: 0
body
	font-family: "Roboto Slab"
	min-height: 100vh

pre
	white-space: pre-wrap
code
	white-space: pre-wrap

a
	color: inherit
	text-decoration: none
	&:visited, &:active, &:hover,
	&:-webkit-any-link
		color: inherit

.noMovil
	+movil
		display: none

.noCompu
	+compu
		display: none

.light
	+fwl
.normal
	+fwn
.bold
	+fwb
.black
	+fwbb

=flexCombinaciones
	&.ffrn
		flex-flow: row nowrap
	&.ffcn
		flex-flow: column nowrap
	&.aic
		align-items: center
	&.jcc
		justify-content: center
	&.jcsb
		justify-content: space-between
	&.jcsa
		justify-content: space-around
	&.jcfs
		justify-content: flex-start
	&.jcfe
		justify-content: flex-end
.df,
.flex
	display: flex
	+flexCombinaciones
.dif,
.iflex
	display: inline-flex
	+flexCombinaciones

.f11
	flex: auto 1 1
.f00
	flex: auto 0 0

.wf
	width: 100%

.boton
	display: block
	margin: 0 auto
	cursor: pointer
	text-transform: uppercase
	padding: .5em 1.3em
	border-radius: 4px
	background-color: black
	color: white
	font-weight: 900
	+compu
		padding: .7em 1.5em

h1, h2, h3, h4, h5
	color: $azul2
	margin-top: 20px

// ant-style dropdown hack
.ant-select-dropdown-menu-item
	text-overflow: unset!important
	white-space: break-spaces!important

.ant-btn
	&.w100
		width: 100%
	//&.casiBpStyle
	+bold
	//font-size: 1.2em
	&:not(disabled)
		&.azul
			color: white
			background-color: $azul1
		&.verde
			color: $petroleo1
			background-color: $verde3

.ant-form
	+compu
		.ant-form-item
			margin-bottom: 0.65rem
			.ant-form-item-label
				padding-bottom: 0
	.acciones
		margin-top: 2rem
		.ant-btn
			margin-top: 1rem

.anchoMovil
	width: 400px
	max-width: 100%
	margin: 0 auto
